body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2d3436;
}
h1{
    color: #fbc531;
    text-align: right;
    margin-right: 50px;

}

/**
Bepaalt inhoud en plaatsing van box om alle elementen
*/
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #353b48;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
    background-size: 6px 6px;
    background-image: repeating-linear-gradient(45deg, #454a54 0, #454a54 0.6000000000000001px, #2d3436 0, #2d3436 50%);

}
.box h1{
    color: #fbc531;
    text-align: center;
    left: 50%;
}
/*
Bepaalt stijl voor Login header
*/
.box h2{
    color: white;
    text-transform: none;
    font-weight: 300;
}
/*
h5 valt onder registratieform. Later andere css maken voor regform
*/
h5{
    color: white;
}

/*.box input[type = "text"],*/
/*.box input[type = "password"],*/
/*.box input[type = "date"],*/
/*.box input[type = "email"]*/
input
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 8px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}
/*
Transformeert de stijl van de invulveld als de cursor erop staat
*/
/*.box input[type = "text"]:focus,*/
/*.box input[type = "password"]:focus,*/
/*.box input[type = "email"]:focus,*/
/*.box input[type = "date"]:focus*/
input:focus
{
    width: 250px;
    border-color: #fbc531;
}

/*
Voor de login button
*/
button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 8px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}
button[type = "submit"]:hover{
    background: #fbc531;
    color: #2d3436;
    border-color: #fbc531;
    transition: 0.25s;
}

/*
Styling voor signup en forgotpassord buttons
*/
button[type = "button"]{
    border: none;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 8px;
    width: 100px;
    outline: none;
    color: #fbc531;

}
button[type = "button"]:hover{
    opacity:1;
    text-decoration: underline;
}
