body {
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    background: #2d3436;
}
header {
    /*background-image: url("logo.jpg");*/

    overflow: hidden;
    background-color: #454a54;
    position: relative;
    top: 0;
    width: 100%;
}
.flex-box{
    display: flex;
    flex-direction: row;
    align-content: end;

}
.flex-box button[type = "button"]{
    min-width: 200px;
    margin: 10px 10px 10px 10px;
    color: white;

}
.flex-box #pagetitle{
    float: right;
    display: block;
    color: #fbc531;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin-left: 200px;
}

.flex-box #signupNav{
    color: #fbc531;
}
.flex-box #loginNav{
    color: #fbc531;
    border-color: #fbc531;
    background: #fbc531;
    color: #2d3436;
}

.flex-box #loginNav:hover{
    opacity: 0.8;
}

header a{
    float: right;
    display: block;
    color: #fbc531;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
#cryptologo{
    max-width: 15px;
    height: auto;

}


section{
    margin: 30px;
}

/*h1{*/
/*    color: #fbc531;*/
/*    text-align: right;*/
/*    margin-right: 50px;*/

/*}*/

/**
Bepaalt inhoud en plaatsing van box om alle elementen
*/
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #353b48;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
    background-size: 6px 6px;
    background-image: repeating-linear-gradient(45deg, #454a54 0, #454a54 0.6000000000000001px, #2d3436 0, #2d3436 50%);

}
.box h1{
    color: #fbc531;
    text-align: center;
    left: 50%;
}
/*
Bepaalt stijl voor Login header
*/
.box h2{
    color: white;
    text-transform: none;
    font-weight: 300;
}
fieldset{
    border: 1px dotted white;
    border-radius: 10px;
    margin: 10px 0px 40px 0px;
}

h1{
    color: white;
}
input
{
    border: 0;
    background: none;
    /*display: block;*/
    margin: 5px 10px 5px 5px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 8px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}

#registrationForm input{
    border: 0;
    border-bottom: 1px solid white;
}

#registrationForm input:focus{
    width: 200px;
    border-color: #fbc531;
}


legend{
    color: #fbc531;
}

label{
    color: white;
    min-width: 235px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    font-size: smaller;
}
/*
Transformeert de stijl van de invulveld als de cursor erop staat
*/
input:focus{
    width: 250px;
    border-color: #fbc531;
}

/*
Voor de submit buttons
*/
button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 8px;
    min-width: 100px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}
button[type = "submit"]:hover{
    background: #fbc531;
    color: #2d3436;
    border-color: #fbc531;
    transition: 0.25s;
}

/*
Styling voor normale buttons
*/
button[type = "button"]{
    border: none;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 8px;
    width: 100px;
    outline: none;
    color: #fbc531;

}
button[type = "button"]:hover{
    opacity:1;
    text-decoration: underline;
}

/*
Division overlay op recoveryscherm
*/
#emailsuccesful {
    visibility: hidden;
    text-align: center;
    color: white;
}

table {
    color: white;
    border-radius: 10px;
    opacity: 0.9;
    background-size: 6px 6px;
    background: #353b48 repeating-linear-gradient(45deg, #454a54 0, #454a54 0.6000000000000001px, #2d3436 0, #2d3436 50%);
    padding: 30px;
    border: 1px dotted white;
    text-align: left;
    /*column-width: 500px;
    table-layout: fixed;
    column-rule: 100px;*/
    column-gap: 100px;
}
